body {
  margin: 0px;
  font-family: arial, helvetica, sans-serif;
  font-size: 0.8em;
}
#chart {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
}

text {
  pointer-events: none;
}
text.small {
  display: none;
}
.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
}

rect.child {
  fill: none;
}
rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  opacity: 0.7;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover {
  opacity: 0.7;
}
.tooltip {
  max-width: 400px;
}
